@font-face {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/AnyConv.com__Gilroy-Bold.woff2);
}
@font-face {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/AnyConv.com__Gilroy-Medium.woff2);
}
